apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ template "zdaemon.fullname" . }}
  labels:
    app: {{ template "zdaemon.fullname" . }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
spec:
  template:
    metadata:
      labels:
        app: {{ template "zdaemon.fullname" . }}
    spec:
      containers:
      - name: zdaemon
        image: "{{ .Values.imagePrefix}}{{ .Values.image }}:{{ .Values.imageTag }}"
        imagePullPolicy: Always
        resources:
{{ toYaml .Values.resources | indent 10 }}
        env:
        - name: HOSTNAME
          value: {{ .Values.server.name | quote }}
        {{- if .Values.server.motd }}
        - name: MOTD
          value: {{ .Values.server.motd | quote }}
        {{- end }}
        {{- if .Values.server.rcon_password }}
        - name: RCON_PASSWORD
          value: {{ .Values.server.rcon_password | quote }}
        {{- end }}
        {{- if .Values.server.game_password }}
        - name: PASSWORD
          value: {{ .Values.server.game_password | quote }}
        {{- end }}
        - name: MAPS
          value: {{ join "," .Values.server.maps | quote }}
        - name: MAXPLAYERS
          value: {{ .Values.server.maxplayers | quote }}
        {{- if .Values.server.lan }}
        - name: "LAN"
          value: "1"
        {{- end }}
        {{- if .Values.server.fraglimit }}
        - name: "CVAR_fraglimit"
          value: {{ .Values.server.fraglimit | quote }}
        {{- end }}
        {{- if .Values.server.timelimit }}
        - name: "CVAR_timelimit"
          value: {{ .Values.server.timelimit | quote }}
        {{- end }}
        ports:
        - name: zdaemon
          # I don't actually know what port number this uses
          containerPort: 65534
          protocol: UDP
      
